<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src='/js/dependencies/sails.io.js'></script>
  <script type="text/javascript">
    io.sails.url = 'http://10.2.100.191:1337'
  </script>
</head>

<body>
  <textarea id="ta" rows="20" cols="60"></textarea>
  <form id="formId" action="http://10.2.100.191:1337/socket/socketTest" method="POST" target="_iframe">
    Message:<br>
    <input id="msg" type="text" name="message">
    <input id="sbm" type="submit" value="提交">
  </form>
  <form id="upload-form" action="http://10.2.100.191:1337/socket/upload" method="post" enctype="multipart/form-data">
    <input type="text" value="82474dc2-248c-4b03-8f39-7c590f0a87a0" name="user_id"/>
    　　　<input type="file" id="upload" name="file" /> <br />
    　　　<input type="submit" value="Upload" />
  </form>
  <img src='/images/4a06f622-028a-4323-97ef-a58326006f88.jpeg' height="60" width="60" />
  <iframe id="id_iframe" name="_iframe" height="0" width="0"></iframe>
  <script type="text/javascript">
    io.socket.post('/socket/socketTest');
    document.getElementById('sbm').onclick = function () {
      io.socket.post('/socket/socketTest', {
        message: document.getElementById('msg').value,
        user_id: '82474dc2-248c-4b03-8f39-7c590f0a87a0',
        conv_id: 'conv_88ddb315-6b9c-4cff-b485-83cfec35c162'
      });
      io.socket.on('message', (data) => {
        document.getElementById("ta").innerHTML = '';
        for (var i = 0; i < data.list.length; i++) {
          if (data.list[i].msg !== undefined && data.list[i].msg !== '') {
            document.getElementById('msg').value = "";
          }
          if (data.list[i].msg !== undefined) {
            document.getElementById("ta").innerHTML += 'user:' + data.list[i].from_user + '\n' + 'create_at:' + data.list[i].create_at + '\n' + 'message:' + data.list[i].msg + '\n\n';
          }
        }
        if (data.message) {
          document.getElementById('ta').innerHTML += data.message + '\n\n';
        }

      });
    }

    $.ajax({
      cache: true,
      type: "POST",
      url: "http://localhost:1337/socket/socketTest",
      data: $('#formId').serialize(),
      async: false,
      error: function (request) {
        alert("Connection error:" + request.error);
      },
      success: function (data) {
        alert("SUCCESS!");
      }
    });
  </script>
</body>

</html>